@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    font-size: 16px;
}

body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb34mKFgUHnMmW0DznkKRvKWaEr1fKRgIpJtvs_zj27B8hiTlZVcNf0-rk&s=10");
    color: #00FF1E;
    overflow: hidden; /* Impede rolagem da página */
}

.container {
    width: 100%;
    height: 100vh; /* 100% da altura da viewport */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 100%;
    max-width: 350px;
    background-color: rgba(33, 33, 33, 0.9); /* Fundo semi-transparente */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 255, 30, 0.5); /* Sombra neon */
}

.login > h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #00FF1E;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login__input {
    border: 2px solid #00FF1E; /* Borda neon */
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #121212;
    color: #f2f2f2;
    outline: none;
    border-radius: 5px;
    transition: border 0.3s; /* Transição suave */
}

.login__input:focus {
    border: 2px solid #f2f2f2; /* Muda a borda ao focar */
}

.login__button {
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    background-color: #00FF1E;
    cursor: pointer;
    color: #121212;
    transition: background 0.3s, transform 0.2s; /* Transições para hover */
}

.login__button:hover {
    background-color: #00cc00; /* Cor mais escura ao passar o mouse */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.chat {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.chat__messages {
    flex-grow: 1;
    padding: 30px 30px 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Começar do topo */
    overflow-y: auto; /* Permitir rolagem dentro da área de mensagens */
    max-height: calc(100vh - 100px); /* Limitar altura para permitir rolagem */
    bottom:100px;
}

.chat__form {
    background-color: rgba(25, 25, 25, 0.9); /* Fundo semi-transparente */
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 255, 30, 0.5); /* Sombra neon na parte superior */
}

.chat__input {
    border: 2px solid #00FF1E; /* Borda neon */
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    background-color: #212121;
    outline: none;
    color: #f2f2f2;
    font-size: 1rem;
    transition: border 0.3s; /* Transição suave */
}

.chat__input:focus {
    border: 2px solid #f2f2f2; /* Muda a borda ao focar */
}

.chat__button {
    border: none;
    background: none;
    color: #f2f2f2;
    cursor: pointer;
}

.chat__button > span {
    font-size: 1.8rem;
}

.chat__messages > div {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 22px;
    border-radius: 10px;
    transition: background 0.3s; /* Transição suave */
}

.message--self {
    background-color: rgba(172, 206, 160, 0.8); /* Verde claro com transparência */
    color: #121212;
    align-self: flex-end;
}

.message--other {
    background-color: rgba(51, 51, 51, 0.8); /* Cinza escuro com transparência */
    color: #f2f2f2;
    align-self: flex-start;
}

.message--sender {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    color: #00FF1E;
}

.message-time {
    font-size: 0.7em;
    color: #555;
    display: block;
    float: right;
    margin-top: 2px; /* Espaçamento acima do horário */
}

.chat__users {
  background-color: rgba(18, 18, 18, 0.9); /* Fundo semi-transparente */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(0, 255, 30, 0.5); /* Sombra neon */
}

.users-list {
  color: #f2f2f2;
  font-size: 0.9rem;
}
